
<section class="main_content">
  <section class="main_content-left col col-2-3">
    <aside class="col col-1-3">
        <h3 class="main_content-header"><a href="#">Launching the New React/Redux Curriculum</a></h3>
      <h4 class="main_content-author"> By APP ACADEMY INSTRUCTIONAL TEAM </h4>
      <ul class="main_content-bullets">
        <li>It helps you write applications that behave consistently, run in different environments (client, server, and native),
        and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with
        a time traveling debugger.
        </li>
      
        <li>The whole state of your app is stored in an object tree inside a single store.
        The only way to change the state tree is to emit an action, an object describing what happened. To specify how the
        actions transform the state tree, you write pure reducers.
        </li>
      </ul>
      <p class="main_content-comments"><a href="#">1738 Comments</a></p>
    </aside>
    
    <section class="col col-2-3">
        <iframe width=100% height="255" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
            Warning: This video will make you want to change your career
      
      <a href="#"><h4>Where Are They Now?</h4></a>
        <h4 class="main_content-author">By APP ACADEMY ALUMNI</h4>
          <p>First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San
          Francisco.</p>
      
        <h4><a href="#">Cat Academy</a></h4>
          <h4 class="main_content-author"> By APP ACADEMY DIRECTOR OF PRODUCTS </h4>
            <p>App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat
            care curriculum.</p>
    </section>
    <hr class="hr-top"  >
    <hr class="hr-bottom">
  </section>

  <aside class="col col-1-3">
    <h2 class="main_content-right-header"><a href="#">The Opinion Pages</a></h2>

    <section class="col col-1-2">
      <section class="op-ed"><p class="main_content-right-subheader">Op-Ed Contributor</p>
      <h3 class="opinion-title"><a href="#">Will Javascript ever be as easy as Ruby?</a></h3>
      <p>
      Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.
      </p>
      
      <ul class="opinion_authors">
        <li>Torvalds: When I Was Almost Wrong</li>
        <li>Knuth: Art of Programming</li>
        <li>Lovelace: The First Algorithm</li>
        <li>Hopper: The First Bug</li>
        <li>Thompson: Go C Unix</li>
        <li>Carmack: My Virtual Reality</li>
        <li>Stallman: Free Speech Not Free Coffee</li>
      </ul></section>
    </section>

    <section class="col col-1-2">
      <p class="main_content-right-subheader">Operations</p>
      <h3 class="opinion-title"><a href="#">App Academy New York Has A Brand New Office</a></h3>  
        <h4 class="main_content-author">By NY OPERATIONS</h4>
          <p>
            The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.
          </p>
          <div class="thumbnail"><img src="/assets/new_office.jpg" alt="new_office"></div>
          <h4>Opinion Today, in your Inbox</h4>
          <p>
            Each weekday, get though-provoking commentary from our columnists and contributors.
          </p>
    </section>
    <section class="newsletter-sign_up">
      <section class="newsletter-sign_up-input">
        <input type="text" placeholder="Get the Opinion newsletter by email">
        <button>Sign Up</button>
      </section>
      <p>
        <small>We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</small>
      </p>
    </section>
      <hr class="hr-top">
      <hr class="hr-bottom">
    </aside>
  <section id="overlay" class="overlay hidden"></section>
</section>
