<h1>Sign up!</h1>

<form action="new_user_url" method="post">
  <label>Username:
    <input type="text" name="user[username]">
  </label>

  <label>Password:
    <input type="text" name="user[password]">
  </label>

  <button type="submit">Submit!</button>
</form>
